h1{
    color: black;
    text-align: center;
    font-size: 35px;
}
body{
    
    background: fixed;
    background-attachment: fixed;
    box-shadow: 0.1px;
    border-radius: 0.5px;
    background-position: center;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-width: 0.1s;
    background-size: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    justify-content: center;
    background-color: burlywood;

}
.card{
    background-color: bisque;
    background-position: center;
    backdrop-filter: plur(10px);
    background-attachment: fixed;
    border: 20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.5);
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    align-items: center;
    height: auto;
    padding: 20px;
    transition: 0.3s;
    transition: all 0.5s ease-in-out;




}
.info-section{
    background-color: rgba(255,255,255,0.2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px dashed#fff;
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
}
.dark-mode{
    background-color: #1a1a1a !important;
    counter-reset: white !important;
}
#modebtn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background: #333;
    color: white;
    margin-top: 20px;
}