body{
    background-image: url(Me.jpg);
    display: flex;
    background-position: center;
    background-size: center;
    flex-direction: column;
    text-align: center;
    line-height: 0.1;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    font-family: Arial,sans-serif;
    align-content: center;
    background-color: #f4f4f4;
    height: center;

}
.card{
    background-color: rgba(145, 108, 29, 0.493);
    backdrop-filter: flur(10px);
    align-items: center;
    text-align: center;
    padding: 70px;
    border-radius: 50px;
    text-align: center;
    width: 400px;
    color: rgb(100, 15, 156);
    box-shadow: 10px 30px (rgb(170, 223, 24));
}
.cardh1{
    color: white;
    margin-bottom: 15px;
}
.card p1{
    color: #ffffff;
    font-size: 25px;
    line-height: 1.6;
    }
    .card button{
        background-color: white;
        border: none;padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: bold;
        color: azure;
    }
.first{
    background-attachment: fixed;
    background-size: center;
    text-decoration: aqua;
    margin-bottom: 10px;
}
button{
    background-color: rgb(35, 76, 87);
    color: rgba(136, 213, 243, 0.788);
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}